---
import type { MarkdownInstance } from 'astro';
import { Icon } from 'astro-icon/components';

export interface Props {
  post:MarkdownInstance<Record<string, any>>;
}

const {post} = Astro.props;
---

<a class='flex p-3 bg-sub rounded-xl' href={post.url}>
  <img src={post.frontmatter.hero
  ? post.frontmatter.hero
  : "/images/no_image.png"} class="max-h-48 p-2"/>
  <div class="p-2">
    <h3 class="text-xl text-accent">{post.frontmatter.title}</h3>
      <div class="flex py-1">
        <Icon name="mdi:clock-time-nine-outline" class="my-auto"/>
        <p class="text-subAccent text-sm">{post.frontmatter.pubDate}</p>
      </div>
      <div class="flex">
        {post.frontmatter.tags.map((tag:string) => <p class="text-subAccent pr-1 py-1">#{tag}</p>)}
      </div>
  </div>
</a>